In [188]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import os
import time
from sklearn.feature_selection import SelectKBest

In [97]:
li = []
df1 = pd.read_csv('bitcoinsubreddit01.csv')
li.append(df1)
df2 = pd.read_csv('bitcoinsubreddit02.csv')
li.append(df2)
df3 = pd.read_csv('bitcoinsubreddit03.csv')
li.append(df3)
df4 = pd.read_csv('bitcoinsubreddit04.csv')
li.append(df4)
df5 = pd.read_csv('bitcoinsubreddit05.csv')
li.append(df5)
df6 = pd.read_csv('bitcoinsubreddit06.csv')
li.append(df6)

df = pd.concat(li, axis=0, ignore_index=True)

In [98]:
df["created_utc"] = pd.to_datetime(df["created_utc"],unit='s')

In [99]:
df["retrieved_on"] = pd.to_datetime(df["retrieved_on"],unit='s')

In [51]:
df = df[df["created_utc"] >= '02/01/2021']

In [52]:
df = df[df["created_utc"] < '07/01/2021']

In [100]:
df = df[df['body'] != "[removed]"]

In [101]:
df = df[df['body'] != "[deleted]"]

In [102]:
df["created_utc"] = pd.to_datetime(df["created_utc"].dt.date)

In [107]:
df["body"] = df["body"].astype(str)

In [108]:
df.dtypes

author_premium                bool
body                        object
controversiality             int64
created_utc         datetime64[ns]
distinguished               object
id                          object
locked                        bool
no_follow                     bool
parent_id                   object
quarantined                   bool
removal_reason             float64
retrieved_on        datetime64[ns]
score                        int64
subreddit                   object
dtype: object

In [109]:
dfbyday = df[["created_utc","id","author_premium","controversiality", "locked", "no_follow", "score", "body"]].groupby(["created_utc"]).agg({"id": ["count"], "author_premium": ["sum"], "controversiality": ["sum"], "locked" : ["sum"], "no_follow" : ["sum"], "score" : [np.mean], "body": ' '.join})

In [110]:
dfbyday = dfbyday.droplevel(axis=1, level=0).reset_index().set_axis(["Date", "CommentCount", "PremiumCount", "Controversiality", "LockedCount", "FollowCount", "Score", "Body"], axis=1, inplace=False)

In [111]:
dfbyday

,Date,CommentCount,PremiumCount,Controversiality,LockedCount,FollowCount,Score,Body
0,2021-01-01,6224,424,133,0,4048,4.661472,I understand what you're saying. Perhaps I sho...
1,2021-01-02,12380,1052,171,0,8073,4.480291,It doesnâ€™t matter what price they are now if t...
2,2021-01-03,11732,1080,167,0,7306,4.427719,I totally agree. This is more of a push for th...
3,2021-01-04,8671,764,161,0,5948,3.543767,Yeah. The only thing I forgot to do was to use...
4,2021-01-05,7493,562,110,0,4888,4.018417,You do get relief. It's a capital loss if you ...
...,...,...,...,...,...,...,...,...
176,2021-06-26,5469,250,174,0,3805,3.158713,tldr; Bitcoin is a decentralized digital curre...
177,2021-06-27,5110,269,115,0,3523,3.556751,Lol this is funny. Fuck you Wooooooow Bro not ...
178,2021-06-28,4712,315,86,0,3273,4.041384,Crypto.com $19T market cap isn't unreasonable ...
179,2021-06-29,5374,334,164,0,3521,3.665984,Your submission has been flagged for removal b...
180,2021-06-30,5421,316,115,0,3690,4.767755,Dink Doink is both fun and embarrassing to say...

In [61]:
df = df[df['body'].isna() == False]

In [112]:
df['body'] = df['body'].str.lower()

In [113]:
vectorizer = CountVectorizer()

In [114]:
wordvector = vectorizer.fit_transform(dfbyday['Body'])

In [115]:
wordvector

<181x199133 sparse matrix of type '<class 'numpy.int64'>'
	with 2227227 stored elements in Compressed Sparse Row format>

In [116]:
wordvectordf = pd.DataFrame(wordvector.todense(), columns=vectorizer.get_feature_names_out())

,Date,CommentCount,PremiumCount,Controversiality,LockedCount,FollowCount,Score,Body
0,2021-01-01,6224,424,133,0,4048,4.661472,I understand what you're saying. Perhaps I sho...
1,2021-01-02,12380,1052,171,0,8073,4.480291,It doesnâ€™t matter what price they are now if t...
2,2021-01-03,11732,1080,167,0,7306,4.427719,I totally agree. This is more of a push for th...
3,2021-01-04,8671,764,161,0,5948,3.543767,Yeah. The only thing I forgot to do was to use...
4,2021-01-05,7493,562,110,0,4888,4.018417,You do get relief. It's a capital loss if you ...
...,...,...,...,...,...,...,...,...
176,2021-06-26,5469,250,174,0,3805,3.158713,tldr; Bitcoin is a decentralized digital curre...
177,2021-06-27,5110,269,115,0,3523,3.556751,Lol this is funny. Fuck you Wooooooow Bro not ...
178,2021-06-28,4712,315,86,0,3273,4.041384,Crypto.com $19T market cap isn't unreasonable ...
179,2021-06-29,5374,334,164,0,3521,3.665984,Your submission has been flagged for removal b...
180,2021-06-30,5421,316,115,0,3690,4.767755,Dink Doink is both fun and embarrassing to say...

In [134]:
dfbydayvector = pd.concat([dfbyday[["Date"]], wordvectordf], axis=1)

In [135]:
dfbydayvector

,Date,00,000,0000,00000,000000,0000000,00000000,000000000,0000000000,...,ğš ğš˜ğš›ğš›ğš¢,ğš¢ğšğš,ğš¢ğš˜ğš,ğš¢ğš˜ğšğš›,ğš¢ğš˜ğšğš›ğšœğšğš•ğš,ğŸ­ğŸ®,ğŸ¶ğš¡ğš‹ğ™°ğŸ»ğšğŸ½ğŸ¼ğŸºğŸ¿ğšğ™´ğšğŸ¹ğŸ¸ğŸ»ğšŠğ™°ğŸ¼ğšŠğšğŸ¹ğ™°,ğŸ·ğŸ¶,ğŸ¸ğŸº,ğŸ¿ğšŸğš¡ğš“ğš£ğŸ¿ğš—ğŸºğŸ¸ğššğš¢ğššğšœğšœğŸ¹ğš—ğšš
0,2021-01-01,7,187,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-02,20,259,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-03,18,277,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-04,8,155,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-05,11,137,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2021-06-26,9,62,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,2021-06-27,8,62,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,2021-06-28,2,75,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,2021-06-29,3,75,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,2021-06-30,4,87,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [136]:
dfprice = pd.read_csv('BitCoinPrice.csv')

In [137]:
dfprice["Date"] = pd.to_datetime(dfprice["Date"], infer_datetime_format=True)

In [145]:
dfprice["Change %"] = dfprice["Change %"].str.rstrip('%').astype('float') / 100.0

In [147]:
dfprice["NextDayChange"] = dfprice["Change %"].shift(-1)

In [148]:
dfprice

,Date,Price,Open,High,Low,Vol.,Change %,NextDayChange
0,2021-09-22,"43,551.6","40,660.8","43,976.7","40,585.7",93.98K,0.0713,-0.0518
1,2021-09-21,"40,651.3","43,012.3","43,619.3","39,646.8",142.55K,-0.0518,-0.0925
2,2021-09-20,"42,870.6","47,240.8","47,323.9","42,547.1",77.96K,-0.0925,-0.0221
3,2021-09-19,"47,238.7","48,299.9","48,341.9","46,866.6",41.98K,-0.0221,0.0217
4,2021-09-18,"48,306.7","47,283.9","48,761.0","47,070.5",43.64K,0.0217,-0.0097
...,...,...,...,...,...,...,...,...
260,2021-01-05,"33,991.5","32,015.4","34,414.7","30,010.5",202.13K,0.0615,-0.0284
261,2021-01-04,"32,022.6","33,016.6","33,587.5","28,204.5",255.27K,-0.0284,0.0238
262,2021-01-03,"32,958.9","32,192.9","34,755.9","32,029.6",155.21K,0.0238,0.0965
263,2021-01-02,"32,193.3","29,359.7","33,233.5","29,008.0",240.87K,0.0965,0.0142
264,2021-01-01,"29,359.9","28,951.7","29,627.1","28,712.4",100.90K,0.0142,NaN

In [163]:
dfvectorprice = pd.merge(dfbydayvector, dfprice[["Date", "NextDayChange"]], left_on="Date", right_on="Date", how="outer")

In [164]:
dfvectorprice

,Date,00,000,0000,00000,000000,0000000,00000000,000000000,0000000000,...,ğš¢ğšğš,ğš¢ğš˜ğš,ğš¢ğš˜ğšğš›,ğš¢ğš˜ğšğš›ğšœğšğš•ğš,ğŸ­ğŸ®,ğŸ¶ğš¡ğš‹ğ™°ğŸ»ğšğŸ½ğŸ¼ğŸºğŸ¿ğšğ™´ğšğŸ¹ğŸ¸ğŸ»ğšŠğ™°ğŸ¼ğšŠğšğŸ¹ğ™°,ğŸ·ğŸ¶,ğŸ¸ğŸº,ğŸ¿ğšŸğš¡ğš“ğš£ğŸ¿ğš—ğŸºğŸ¸ğššğš¢ğššğšœğšœğŸ¹ğš—ğšš,NextDayChange
0,2021-01-01,7.0,187.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2021-01-02,20.0,259.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0142
2,2021-01-03,18.0,277.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0965
3,2021-01-04,8.0,155.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0238
4,2021-01-05,11.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,2021-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0160
261,2021-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0275
262,2021-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0080
263,2021-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0423
264,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0225

In [165]:
dfvectorprice = dfvectorprice[dfvectorprice['00'].isna() == False].copy()

In [166]:
dfvectorprice

,Date,00,000,0000,00000,000000,0000000,00000000,000000000,0000000000,...,ğš¢ğšğš,ğš¢ğš˜ğš,ğš¢ğš˜ğšğš›,ğš¢ğš˜ğšğš›ğšœğšğš•ğš,ğŸ­ğŸ®,ğŸ¶ğš¡ğš‹ğ™°ğŸ»ğšğŸ½ğŸ¼ğŸºğŸ¿ğšğ™´ğšğŸ¹ğŸ¸ğŸ»ğšŠğ™°ğŸ¼ğšŠğšğŸ¹ğ™°,ğŸ·ğŸ¶,ğŸ¸ğŸº,ğŸ¿ğšŸğš¡ğš“ğš£ğŸ¿ğš—ğŸºğŸ¸ğššğš¢ğššğšœğšœğŸ¹ğš—ğšš,NextDayChange
0,2021-01-01,7.0,187.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2021-01-02,20.0,259.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0142
2,2021-01-03,18.0,277.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0965
3,2021-01-04,8.0,155.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0238
4,2021-01-05,11.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2021-06-26,9.0,62.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0886
177,2021-06-27,8.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0206
178,2021-06-28,2.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0755
179,2021-06-29,3.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0058
180,2021-06-30,4.0,87.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0394

In [167]:
conditions = [
               (dfvectorprice["NextDayChange"] <= -0.025), 
               (dfvectorprice["NextDayChange"] > -0.025) & (dfvectorprice["NextDayChange"] < 0.025),
               (dfvectorprice["NextDayChange"] >= 0.025)
             ]
values = [0, 1, 2]
dfvectorprice['ChangeGroup'] = np.select(conditions, values)

In [168]:
dfvectorprice = dfvectorprice.drop(['NextDayChange', 'Date'], axis=1)

In [169]:
dfvectorprice

,00,000,0000,00000,000000,0000000,00000000,000000000,0000000000,00000000000,...,ğš¢ğšğš,ğš¢ğš˜ğš,ğš¢ğš˜ğšğš›,ğš¢ğš˜ğšğš›ğšœğšğš•ğš,ğŸ­ğŸ®,ğŸ¶ğš¡ğš‹ğ™°ğŸ»ğšğŸ½ğŸ¼ğŸºğŸ¿ğšğ™´ğšğŸ¹ğŸ¸ğŸ»ğšŠğ™°ğŸ¼ğšŠğšğŸ¹ğ™°,ğŸ·ğŸ¶,ğŸ¸ğŸº,ğŸ¿ğšŸğš¡ğš“ğš£ğŸ¿ğš—ğŸºğŸ¸ğššğš¢ğššğšœğšœğŸ¹ğš—ğšš,ChangeGroup
0,7.0,187.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,20.0,259.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,18.0,277.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,8.0,155.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,11.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,9.0,62.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
177,8.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
178,2.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
179,3.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
180,4.0,87.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [170]:
dfvectorprice_train, dfvectorprice_test = train_test_split(dfvectorprice, test_size=0.4)

In [171]:
dfvectorprice_test, dfvectorprice_valid = train_test_split(dfvectorprice_test, test_size=0.5)

In [173]:
X_train = dfvectorprice_train.drop(['ChangeGroup'], axis=1).to_numpy()

In [174]:
y_train = dfvectorprice_train[["ChangeGroup"]].to_numpy()

In [175]:
X_test = dfvectorprice_test.drop(['ChangeGroup'], axis=1).to_numpy()

In [176]:
y_test = dfvectorprice_test[["ChangeGroup"]].to_numpy()

In [177]:
X_valid = dfvectorprice_valid.drop(['ChangeGroup'], axis=1).to_numpy()

In [178]:
y_valid = dfvectorprice_valid[["ChangeGroup"]].to_numpy()

In [180]:
X_train.shape

(108, 199133)

In [190]:
X_train.shape

(108, 199133)

In [195]:
y_train.ravel().shape

(108,)

In [199]:
seletbest = SelectKBest(k=20).fit(X_train, y_train.ravel())

c:\users\emaibach\appdata\local\programs\python\python39\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [    10     11     15 ... 199130 199131 199132] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
c:\users\emaibach\appdata\local\programs\python\python39\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [200]:
X_trainnew = seletbest.transform(X_train)

In [201]:
X_testnew = seletbest.transform(X_test)

In [202]:
X_validnew = seletbest.transform(X_valid)

In [203]:
root_logdir = os.path.join(os.curdir, "tensor_logs")
def get_run_logdir():
    run_id = time.strftime("run_%Y_%m_%d-%H_%M_%S")
    return os.path.join(root_logdir, run_id)

In [205]:
model = keras.models.Sequential()
model.add(keras.layers.InputLayer(input_shape=[20,]))
model.add(keras.layers.Dense(300, activation="relu"))
model.add(keras.layers.Dense(100, activation="relu"))
model.add(keras.layers.Dense(3, activation="softmax"))

In [206]:
model.compile(loss="sparse_categorical_crossentropy", optimizer="sgd", metrics=["accuracy"])

In [207]:
run_logdir = get_run_logdir()
tensorboard_cb = keras.callbacks.TensorBoard(run_logdir)
history = model.fit(X_trainnew, y_train, epochs=30, validation_data=(X_validnew, y_valid), callbacks=[tensorboard_cb])

Epoch 1/30
4/4 [==============================] - 2s 412ms/step - loss: 2.5035 - accuracy: 0.3889 - val_loss: 1.5781 - val_accuracy: 0.2703
Epoch 2/30
4/4 [==============================] - 0s 14ms/step - loss: 1.5266 - accuracy: 0.3148 - val_loss: 1.5369 - val_accuracy: 0.4324
Epoch 3/30
4/4 [==============================] - 0s 14ms/step - loss: 1.3641 - accuracy: 0.3519 - val_loss: 1.9889 - val_accuracy: 0.2432
Epoch 4/30
4/4 [==============================] - 0s 13ms/step - loss: 1.6709 - accuracy: 0.2778 - val_loss: 1.3192 - val_accuracy: 0.4595
Epoch 5/30
4/4 [==============================] - 0s 14ms/step - loss: 1.1207 - accuracy: 0.3889 - val_loss: 1.2861 - val_accuracy: 0.3514
Epoch 6/30
4/4 [==============================] - 0s 17ms/step - loss: 1.0490 - accuracy: 0.4259 - val_loss: 1.2242 - val_accuracy: 0.3784
Epoch 7/30
4/4 [==============================] - 0s 12ms/step - loss: 1.0471 - accuracy: 0.4537 - val_loss: 1.2225 - val_accuracy: 0.3784
Epoch 8/30
4/4 [==============================] - 0s 10ms/step - loss: 1.1152 - accuracy: 0.4259 - val_loss: 1.2594 - val_accuracy: 0.3784
Epoch 9/30
4/4 [==============================] - 0s 12ms/step - loss: 1.0231 - accuracy: 0.4352 - val_loss: 1.2798 - val_accuracy: 0.3514
Epoch 10/30
4/4 [==============================] - 0s 13ms/step - loss: 1.0558 - accuracy: 0.4537 - val_loss: 1.2812 - val_accuracy: 0.3243
Epoch 11/30
4/4 [==============================] - 0s 10ms/step - loss: 1.0242 - accuracy: 0.5185 - val_loss: 1.2417 - val_accuracy: 0.2973
Epoch 12/30
4/4 [==============================] - 0s 10ms/step - loss: 1.0053 - accuracy: 0.4907 - val_loss: 1.3073 - val_accuracy: 0.3243
Epoch 13/30
4/4 [==============================] - 0s 9ms/step - loss: 0.9865 - accuracy: 0.5185 - val_loss: 1.1835 - val_accuracy: 0.2703
Epoch 14/30
4/4 [==============================] - 0s 9ms/step - loss: 1.0011 - accuracy: 0.4815 - val_loss: 1.3762 - val_accuracy: 0.4054
Epoch 15/30
4/4 [==============================] - 0s 11ms/step - loss: 1.0538 - accuracy: 0.5093 - val_loss: 1.2990 - val_accuracy: 0.3784
Epoch 16/30
4/4 [==============================] - 0s 9ms/step - loss: 1.1279 - accuracy: 0.4352 - val_loss: 1.3189 - val_accuracy: 0.4054
Epoch 17/30
4/4 [==============================] - 0s 10ms/step - loss: 1.0144 - accuracy: 0.5093 - val_loss: 1.2209 - val_accuracy: 0.3784
Epoch 18/30
4/4 [==============================] - 0s 12ms/step - loss: 0.9703 - accuracy: 0.5648 - val_loss: 1.2751 - val_accuracy: 0.4054
Epoch 19/30
4/4 [==============================] - 0s 10ms/step - loss: 1.0122 - accuracy: 0.4352 - val_loss: 1.1831 - val_accuracy: 0.4054
Epoch 20/30
4/4 [==============================] - 0s 9ms/step - loss: 0.9638 - accuracy: 0.5463 - val_loss: 1.2204 - val_accuracy: 0.4324
Epoch 21/30
4/4 [==============================] - 0s 11ms/step - loss: 0.9697 - accuracy: 0.5278 - val_loss: 1.1981 - val_accuracy: 0.4054
Epoch 22/30
4/4 [==============================] - 0s 12ms/step - loss: 1.0113 - accuracy: 0.4907 - val_loss: 1.2215 - val_accuracy: 0.4865
Epoch 23/30
4/4 [==============================] - 0s 10ms/step - loss: 0.9641 - accuracy: 0.5648 - val_loss: 1.2546 - val_accuracy: 0.4054
Epoch 24/30
4/4 [==============================] - 0s 9ms/step - loss: 0.9417 - accuracy: 0.6111 - val_loss: 1.3303 - val_accuracy: 0.4054
Epoch 25/30
4/4 [==============================] - 0s 10ms/step - loss: 0.9871 - accuracy: 0.5463 - val_loss: 1.2546 - val_accuracy: 0.4054
Epoch 26/30
4/4 [==============================] - 0s 10ms/step - loss: 0.9460 - accuracy: 0.5556 - val_loss: 1.2723 - val_accuracy: 0.4324
Epoch 27/30
4/4 [==============================] - 0s 12ms/step - loss: 0.9461 - accuracy: 0.5000 - val_loss: 1.2505 - val_accuracy: 0.3784
Epoch 28/30
4/4 [==============================] - 0s 10ms/step - loss: 0.9157 - accuracy: 0.5833 - val_loss: 1.3446 - val_accuracy: 0.4054
Epoch 29/30
4/4 [==============================] - 0s 10ms/step - loss: 0.9636 - accuracy: 0.5833 - val_loss: 1.2192 - val_accuracy: 0.3784
Epoch 30/30
4/4 [==============================] - 0s 11ms/step - loss: 0.9640 - accuracy: 0.5463 - val_loss: 1.1969 - val_accuracy: 0.4054

In [13]:
dfsample = df.sample(n=1000)

In [37]:
dfsample[["body", "BuySell"]].to_csv("samplecomments.csv")

0 = Buy
1 = Neutral
2 = Sell

In [26]:
dfsample["BuySell"] = 1

In [31]:
curindex = 0

In [32]:
dfsample.iloc[curindex,1]

'.01 BTC = 1 "get out of jail free card" for one major life event in 10 years....:  sudden unemployment, emergency replacement of a car, down payment on a house, attorney expenses, etc.'

In [34]:
dfsample.iloc[curindex,14]

1

In [36]:
dfsample[["body", "BuySell"]]

                                                      body  BuySell
591440   .01 BTC = 1 "get out of jail free card" for on...        1
1433187  Well obviously having it set up so that you do...        1
1325169                               Red Sunday they said        1
1097087                     This rating is undercommented.        1
380335                                            $120,000        1
...                                                    ...      ...
829619   Just wanted to let him know about the bitcoin....        1
322728                                 There goes coinbase        1
907484   Yep, I figured I better liquidate all my BTC. ...        1
467725   Use CB and you will only ever invest small - n...        1
895846   One of these times.....  We're gonna break out...        1

[1000 rows x 2 columns]

In [22]:
dfsample.iloc[0, 2]

0

In [46]:
df[df.index == 499245]

,author_premium,body,controversiality,created_utc,distinguished,id,locked,no_follow,parent_id,quarantined,removal_reason,retrieved_on,score,subreddit
499245,False,65k by tomorrow EOD,0,2021-02-22 22:25:16,NaN,goe4ibj,False,True,t3_lpn1kx,False,NaN,1970-01-01,1,Bitcoin